* {
  margin: 0;
  /* background-color: #1a0b2e; */
}
body {
  background-color: #1a0b2e;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.gradient-text {
  background: linear-gradient(135deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.btn-gradient {
  background: linear-gradient(135deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);

  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  background-color: #1a0b2e;
  padding: 16px 0;
}
nav h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 10000px;
  border: none;
  color: white;
  transition: transform 0.2s;
}
.btn:hover {
  transform: scale(1.1);
}
.second-btn {
  font-size: 1rem;
  font-weight: 600;
  color: #00ff88;
  padding: 12px 20px;
  border: 2px solid #00ff88;
  border-radius: 10000px;
  background-color: #1a0b2e;
  cursor: pointer;
  transition: transform 0.2s;
}
.second-btn :hover {
  transform: scale(1.1);
}
.btn i {
  padding-left: 4px;
  color: white;
  background: transparent;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
nav ul li {
  list-style: none;
  color: white;
  cursor: pointer;
}
.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
.circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-image: url(assets/hero-circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-left: 55px;
  margin-top: 101px;
}
.box {
  margin-left: -70px;
}
.circle img {
  margin-top: 69px;
}
.banner h1 {
  color: white;
  margin-top: 40px;
  font-size: 3.75rem;
  font-weight: 800;
}
.banner p {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 8px;
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}
.button-div i {
  margin-right: 8px;
}
.new-icon {
  margin-left: -160px;
  margin-top: 110px;
}
.new-icon button {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 10000px;
  background-color: #00ff88;
  transition: transform 0.2s;
}
.new-icon button:hover {
  transform: scale(1.1) translateX(10px);
}
